@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;1,400;1,700&family=Poppins:wght@100;200;300;400;500;600&display=swap');


:root{
    --yellow:#f9d806;
    --light-yellow: #e59866;
    --black:#130f40;
    --light-color:#eaeeec;
    --border: .1rem solid rgba(0,0,0,.1);
    --box-shadow:0 .5rem 1rem rgba(0,0,0,.1);
}

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition:  all .2s linear;
}

html{
    
   font-size: 62.5%; 
   overflow-x: hidden;
   scroll-padding-top: 7rem;
   scroll-behavior: smooth ;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    background: #eee;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3rem 9%;

}

section{
    padding: 2rem 9%;
}

.heading{
    text-align: center;
    padding-bottom: 2rem;
    font-size: 4.5rem;
    color: var(--black);
}

.heading .span-vehicle{
    color: var(--yellow);
}

.btn{
    display: inline-block;
    margin-top: 1rem;
    border-radius: .5rem;
    background: var(--light-yellow);
    color:var(--black);
    font-weight: 500;
    font-size: 1.7rem;
    cursor: pointer;
    padding: .8rem 3rem;
}
.btn:hover{
    background-color: var(--yellow);
    color: #fff;
}

.header .logo{
    font-size: 2.5rem;
    color: var(--black);
    font-weight: bolder;
}

.header .logo span{
    color:var(--yellow);
}

.header .navbar a{
    font-size: 1.7rem;
    margin: 0 1rem;
    color:var(--black);
}
.header .navbar a:hover{
    color: var(--yellow);

}

.header .btn{
    margin-top: 0;
}

.header #login-btn i{
    font-size: 2.5rem;
    color: black;
    cursor: pointer;
    display: none;
}

#btn-menu{
    font-size: 2.5rem;
    color: black;
    cursor: pointer;
    display:none;
}

.header.active{
    box-shadow: var(--box-shadow);
    padding: 2rem 9%;
}

.login-form-container{
    position: fixed;
    top: -105%;
    left: 0;
    z-index: 1000;
    width: 100%;
    height: 100%;
    display: flex;
    background-color: rgba(255,255,255,.9);
    align-items: center;
    justify-content: center;
    opacity: 0;
}

.login-form-container.active{
    top: 0;
    opacity: 1;
}

.login-form-container form{
    padding: 2rem;
    margin: 2rem;
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
    background: #fff;
    border: var(--border);
    text-align: center;
    width: 40rem;
    
}

.login-form-container form .buttons{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.login-form-container form .btn{
    display: block;
    width: 100%;
    margin: .5rem 0;
}

.login-form-container form h3{
    color: var(--black);
    font-size: 2.5rem;
    padding-bottom: 1rem;
    text-transform: uppercase;

}

.login-form-container form .box{
    margin: .7rem 0;
    width: 100%;
    text-transform: none;
    color: var(--black);
    font-size: 1.6rem;
    padding: 1rem 1.2rem ;
    border: var(--border);
    border-radius: .5rem;
}

.login-form-container form p{
    padding: 1rem 0;
    font-size: 1.5rem;
    color: var(--light-color);
}

.login-form-container form p a{
    color: var(--yellow);
    text-decoration: underline;
}

.login-form-container #close-login-form{
    position: absolute;
    top: 1.5rem;
    right: 2.5rem;
    font-size: 5rem;
    color: var(--black);
    cursor: pointer;
}

.home{
    padding-top: 10rem;
    text-align: center;
    overflow-x: hidden;
}

.home h1{
    text-transform: uppercase;
    font-size: 7.5vw;
    color: var(--light-color);
}

.home img{
    
    width: 100%;
    margin: 1rem 0;
}

.icon-container{
    padding-top: 5rem;
    padding-bottom: 5rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 1.5rem;
    background: #eee;
    cursor: pointer;
}

.icon-container .icons{
    display: flex;
    align-items: center;
    gap: 1.5rem;
    padding: 2rem;
    background: #fff;
    box-shadow: var(--box-shadow);
    border-radius: .5rem;
}

.icon-container .icons i{
    height: 6rem;
    width: 6rem;
    line-height: 6rem;
    border-radius: 50%;
    font-size: 2.5rem;
    background: #eee;
    color: var(--black);
    text-align: center;
}

.icon-container .icons .content h3{
    color: var(--yellow);
    font-size: 2.5rem;
}

.icon-container .icons .content p{
    color: var(--light-color);
    font-size: 1.5rem;
}

.icon-container .icons:hover{
    background: var(--black);
}

.icon-container .icons:hover i{
    background: var(--yellow);
}

.icon-container .icons:hover .content h3{
    color: #fff;
}

.icon-container .icons:hover .content p{
    color: #eee;
}

.vehicle .vehicle-slider{
    padding-bottom: 5rem;
}

.vehicle .vehicle-slider .box{
    text-align: center;
}

.vehicle .vehicle-slider .box img{
    width: 100%;
    opacity: .5;
    transform:scale(.8) ;
}

.vehicle .vehicle-slider .box .content{
    transform: scale(0);
    padding-top: 1rem;
}

/* car activve */

.vehicle .vehicle-slider .swiper-slide-active img{
    opacity: 1;
    transform:scale(1) ;
}

/* content active*/

.vehicle .vehicle-slider .swiper-slide-active .content{
    transform: scale(1);
}

.vehicle .vehicle-slider .box .content h3{
    font-size: 2.5rem;
    color: var(--black);
}

.vehicle .vehicle-slider .box .content .price{
    font-size: 2.5rem;
    color: var(--yellow);
    padding: 1rem 0;
    font-weight: bolder;
}

.vehicle .vehicle-slider .box .content .price span{
    font-size: 1.7rem;
    color: var(--light-color);
    font-weight: normal;
}

.vehicle .vehicle-slider .box .content p{
    font-size: 1.7rem;
    padding: 1rem;
    padding-top: 1.5rem;
    border-top: var(--border);
    color: var(--light-color);
}

.vehicle .vehicle-slider .box .content p span{
    color: var(--yellow);
    font-size: .8rem;
    margin: 0 .5rem;
}

.swiper-pagination-bullets-active{
    background-color: var(--yellow);
}

.service .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(38rem, 1fr));
    gap: 1.7rem;
}

.service .box-container .box{
    text-align: center;
    padding: 4rem;
    border-radius: .7rem;
    box-shadow: var(--box-shadow);
    border: var(--border);
}

.service .box-container i{
    height: 6rem;
    width: 6rem;
    line-height: 6rem;
    font-size: 2.5rem;
    color: var(--black);
    background: var(--yellow);
    border-radius: 50%;
    margin-bottom: 1rem;
    
}

.service .box-container h3{
    color: var(--black);
    font-size: 2.5rem;
}

.service .box-container p{
    color: var(--light-color);
    font-size: 1.5rem;
    padding: 1rem 0;
    line-height: 1.8rem;
}

.service .box-container .box:hover{
    /* background: var(--black); */
    transform: scale(1.1);
}

/* .service .box-container .box:hover h3{
    color: #fff;
}

.service .box-container .box:hover p{
    color: #eee;
} */

.featured .featured-slider{
    padding: 1rem;
    padding-bottom: 4rem;
}

.featured .featured-slider .box{
    text-align: center;
    padding: 2rem;
    box-shadow: var(--box-shadow);
    border: var(--border);
    border-radius: .7rem;
}

.featured .featured-slider .box img{
    /* height: 13rem; */
    width: 100%;
    padding: 2rem;
}

.featured .featured-slider .box:hover img{
    transform: scale(.9);
}

.featured .featured-slider .box h3{
    font-size: 2.2rem;
    color: var(--black);
}

.featured .featured-slider .box .stars{
    padding: 1rem 0;
}

.featured .featured-slider .box .stars i{
    font-size: 1.7rem;
    color: var(--yellow);
}

.featured .featured-slider .box .price{
    font-size: 2.5rem;
    color: var(--black);
}

.new-letters{
    padding: 8rem 4rem;
    text-align: center;
    background: url(../Image/letter-car.webp) no-repeat;
    background-position: center;
    background-size: cover;

}

.new-letters h3{
    color:#fff;
    font-size: 3rem;
}

.new-letters p{
    color: #fff;
    font-size: 1.5rem;
    padding: 1rem 0;
}

.new-letters form{
    margin: 1rem auto;
    max-width: 60rem;
    height: 5rem;
    display: flex;
    box-shadow: var(--box-shadow);
    overflow: hidden;
    border-radius: 5rem;
}

.new-letters form input[type="email"]{
    height: 100%;
    width: 100%;
    font-size: 1.6rem;
    color: var(--black);
    text-transform: none;
    padding: 0 2rem;
}

.new-letters form input[type="submit"]{
    height: 100%;
    width: 17rem;
    font-size: 1.8rem;
    color: var(--black);
    background: var(--light-yellow);
    cursor: pointer;

}

.new-letters form input[type="submit"]:hover{
    color: #fff;
    background: var(--yellow);

}

.reviews .reviews-slider{
    padding-bottom: 3rem;
}

.reviews .reviews-slider .box{
    padding: 2rem;
    margin: 2rem 0;
    text-align: center;
    opacity: .4;
    transform: scale(.9);
}

.reviews .reviews-slider .swiper-slide-active{
    opacity: 1;
    transform: scale(1);
    box-shadow: var(--box-shadow);
    border: var(--border);
    /* background: var(--light-color); */
}

.reviews .reviews-slider .box img{
    height: 8rem 1.8rem;
    width: 8rem;
    border-radius: 50%;
    margin-bottom: 1rem;
}

.reviews .reviews-slider .box .conten p {
    font-size: 1.4rem;
    color: var(--light-color);
    padding: 1rem 0;
}

.reviews .reviews-slider .box .conten h3 {
    font-size: 2.2rem;
    color: var(--black);
    padding: 1rem 0;
    padding-bottom: 2rem;
}

.reviews .reviews-slider .box .conten .stars i {
    font-size: 1.7rem;
    color: var(--yellow);
}

.contacts .row{
    display: flex;
    flex-wrap: wrap;
    gap:1.5rem
    
}

.contacts .row .map{
    flex: 1 1 42rem;
    width: 100%;
    padding: 2rem;
    border: var(--border);
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
}

.contacts .row form{
    flex: 1 1 42rem;
    padding: 2rem;
    border: var(--border);
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
    text-align: center;
}

.contacts .row form h3{
    font-size: 3rem;
    color: var(--black);
}

.contacts .row form .box{
    margin:.7rem 0;
    width: 100%;
    border: var(--border);
    padding: 1rem;
    font-size: 1.6rem;
    color: var(--black);
    text-transform: none;
}

.contacts .row form textarea{
    height: 15rem;
    resize: none;
}

.footer{
    background-color: var(--light-yellow);
}

.footer .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 1.5rem;
}

.footer .box-container .box h3{
    color: var(--black);
    font-size: 2.2rem;
    padding: 1rem 0;
}

.footer .box-container .box a{
    color: var(--light-color);
    font-size: 1.4rem;
    display: block;
    padding: 1rem 0;
}

.footer .box-container .box a i{
    padding-right: 5rem;
    color: var(--black);
}

.footer .box-container .box a:hover i{
    padding-right: 1rem;
}

.admin .credit{
    text-align:right;
    border-top: var(--border);
    padding:1rem;
    padding-top: 2.5rem;
    margin-top: 2rem;
    font-size: 2rem;
}

























@media(max-width:991px){

    html{
    
        font-size: 55%; 
        
    }

    .header{

        padding: 2rem;

    }

    .header.active{

        padding: 2rem;
    }

    section{
        padding: 2rem;
    }

}

@media(max-width:768px){

    #btn-menu{
        
        display:block;
    }

    #btn-menu.fa-times{

        transform: rotate(180deg);
    }

    .header #login-btn i{
        
        display: block;
    }

    .header #login-btn .btn{
        
        display: none;
    }

    .header .navbar{
        position: absolute;
        top: 99%;
        left: 0;
        right: 0;
        background: #fff;
        border-top: var(--border);
        clip-path: polygon(0 0,100% 0, 100% 0, 0 0);
    }

    .header .navbar.active{
        clip-path: polygon(0 0,100% 0, 100% 100%, 0 100%);
    }

    .header .navbar a{
        display: block;
        margin: 2rem;
        font-size: 2rem;
    }
}

@media(max-width:450px){

    html{
    
        font-size: 50%; 
        
    }

}
